@import "tailwindcss";

html,
body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Calendar Dark Mode Styles - High Specificity */

.react-calendar,

.custom-calendar .react-calendar {

  width: 100% !important;

  background-color: #1c1917 !important;
  /* bg-stone-900 */

  border: none !important;

  font-family: inherit !important;

  color: #e7e5e4 !important;
  /* text-stone-200 */

  line-height: 1.125em !important;

}



/* Ensure all buttons have transparent background by default */

.react-calendar button {

  background-color: transparent !important;

  color: #e7e5e4 !important;

  border: 0;

}



/* Navigation */

.react-calendar__navigation {

  display: flex;

  height: 44px;

  margin-bottom: 1em;

}



.react-calendar__navigation button {

  color: #e7e5e4 !important;

  min-width: 44px;

  background: none !important;

  font-size: 16px;

  margin-top: 8px;

}



.react-calendar__navigation button:enabled:hover,

.react-calendar__navigation button:enabled:focus {

  background-color: #44403c !important;
  /* bg-stone-700 */

  border-radius: 8px;

}





.react-calendar__navigation button[disabled] {

  background-color: transparent !important;

  color: #57534e !important;
  /* text-stone-600 */

}



/* Month View */

.react-calendar__month-view__weekdays {

  color: #a8a29e !important;
  /* text-stone-400 */

  font-weight: bold;

  text-transform: uppercase;

  font-size: 0.75em;

  text-decoration: none !important;

}



.react-calendar__month-view__weekdays__weekday abbr {

  text-decoration: none !important;

  cursor: default;

}



/* Tiles (Days) */

.react-calendar__tile {

  padding: 12px 6px !important;

  background: none !important;

  color: #d6d3d1 !important;
  /* text-stone-300 */

  border-radius: 8px;

  transition: all 0.2s;

  display: flex !important;

  flex-direction: column !important;

  align-items: center !important;

  justify-content: flex-start !important;

  height: 64px !important;

  font-size: 0.9em;

}



.react-calendar__tile:enabled:hover,

.react-calendar__tile:enabled:focus {

  background-color: #292524 !important;
  /* bg-stone-800 */

  color: #fff !important;

}



.react-calendar__tile--now {

  background: #7c2d12 !important;
  /* bg-orange-900 */

  color: #fff !important;

  font-weight: bold;

  border: 1px solid #c2410c !important;
  /* border-orange-700 */

}



.react-calendar__tile--now:enabled:hover,

.react-calendar__tile--now:enabled:focus {

  background: #9a3412 !important;
  /* bg-orange-800 */

}



.react-calendar__tile--active {

  background: #ea580c !important;
  /* bg-orange-600 */

  color: white !important;

}



.react-calendar__tile--active:enabled:hover,

.react-calendar__tile--active:enabled:focus {

  background: #c2410c !important;
  /* bg-orange-700 */

}



.react-calendar__month-view__days__tile--neighboringMonth {

  color: #57534e !important;
  /* text-stone-600 */

}



/* Remove default abbr underlines */

abbr[title] {

  text-decoration: none !important;

}